.FTB-container {
    z-index: 1010;
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    font-weight: 500;
    border-radius: 56px;
    background-color: var(--md-sys-color-surface-container-low);
    width: calc(96% - 94px);
    left: calc(2% + 32px + 54px);
    height: 72px;
    margin: 0 0px;
    box-shadow: 0 0 0 var(--md-sys-color-shadow);
    will-change: transform,
    box-shadow;
    transition: background-color var(--transition-expressive-color),
    height var(--transition-expressive),
    width var(--transition-expressive),
    left var(--transition-expressive),
    right var(--transition-expressive),
    top var(--transition-expressive),
    box-shadow var(--transition-expressive-color);

    overflow: auto;

    scrollbar-width: none;
    /* Firefox */
    -ms-overflow-style: none;

    /* IE 10+ */
    &::-webkit-scrollbar {
        display: none;
        /* Chrome, Safari, Edge */
    }
}

.tab-container {
    font-size: 16px;
    border-radius: 56px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-width: 164px;
    height: 100%;

    position: relative;

    >.icon-label-container {
        color: var(--md-sys-color-secondary);
        display: flex;
        flex-direction: row-reverse;
        z-index: 1002;

        >.label-name {
            padding-top: 2px;
        }
    }

    &::before {
        content: '';
        width: 60%;
        height: 100%;
        border-radius: 56px;
        background-color: unset;
        z-index: 1001;
        position: absolute;
        transition: background-color var(--transition-expressive-color),
            width var(--transition-expressive-slow),
            height var(--transition-expressive-color),
            left var(--transition-expressive-slow),
            transform var(--transition-expressive-slow);
    }

    &:hover {
        cursor: pointer;
        background-color: var(--md-sys-color-surface-container);

        .material-symbols-rounded {
            font-variation-settings: 'wght' 600;
        }
    }

    transition: background-color var(--transition-expressive-color);
}

.tab-container.current-tab {
    font-weight: 600;

    >.icon-label-container {
        color: var(--md-sys-color-on-surface);

        .material-symbols-rounded {
            font-variation-settings: 'FILL' 1;
        }
    }

    &::before {
        width: 100%;
        background-color: var(--md-sys-color-secondary-container);
    }
}

.FTB-container.nav-mode {
    width: calc(74% - 32px - 84px);
    left: calc(13% + 32px + 84px - 24px);
    top: 7px;
    position: fixed;
    height: 64px;
}

.holder {
    z-index: 1010;
    position: relative;
    left: -9%;
    height: 82px;
    width: 112%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

@media (max-width: 812px) {
    .FTB-container {
        width: calc(100%);
        left: 0px;
    }

    .FTB-container.nav-mode {
        width: calc(100% - 0px); /* {-...px} is double the amount of {...px} left*/
        left: 0px;
    }

    .holder {
        left: 0px;
        width: calc(100%);
    }
}

.gradient-ftb {
    position: fixed;
    z-index: 1009;
    top: -15%;
    width: 100%;
    height: 30%;
    opacity: 0;

    transition:
        opacity var(--transition-expressive-color),
        transform var(--transition-expressive-color);

    background: var(--md-sys-color-surface-container-low);
    background: -webkit-linear-gradient(180deg, var(--md-sys-color-surface-container-lowest) 50%, transparent 100%);
    background: -moz-linear-gradient(180deg, var(--md-sys-color-surface-container-lowest) 50%, transparent 100%);
    background: linear-gradient(180deg, var(--md-sys-color-surface-container-lowest) 50%, transparent 100%);
}

.gradient-ftb.nav-mode{
    opacity: 1;
}