.ripple-container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: inherit;

  z-index: inherit;
  overflow: hidden;
  display: inline-block;
  width: 100%;
  height: 100%;
  pointer-events: none; /* so it doesn’t block clicks */
}

.ripple {
  opacity: 0.5;
  position: absolute;
  border-radius: 50%;
  background-color: rgb(255, 0, 0);

  filter: blur(4px);
  -webkit-filter: blur(4px);
  transform: scale(0);
  animation: ripple-animation 600ms linear;
  pointer-events: none;
  will-change: transform, opacity;
}

@keyframes ripple-animation {
  to {
    transform: scale(4);
    opacity: 0;
  }
}
