@import url('https://fonts.googleapis.com/css2?family=Funnel+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import url(./colors.css);

:root {
  --spin: cubic-bezier(0.4, 0.04, 0.36, 0.86);
  --transition-expressive-fast: 500ms cubic-bezier(0.55, 0.75, 0.15, 1.87);
  --transition-expressive: 500ms cubic-bezier(0.55, 0.57, 0, 1.58);
  --transition-expressive-slow: 500ms cubic-bezier(0.01, 1.25, 0.23, 1.01);
  --transition-expressive-color: 0.3s ease-out;

  --md-sys-color-warning: rgb(186, 133, 26);
  --md-sys-color-on-warning: rgb(255, 255, 255);
  --md-sys-color-warning-container: rgb(255, 252, 209);
  --md-sys-color-on-warning-container: rgb(130, 80, 0);

  --md-sys-color-success: rgb(26, 186, 50);
  --md-sys-color-on-success: rgb(255 255 255);
  --md-sys-color-success-container: rgb(214, 255, 236);
  --md-sys-color-on-success-container: rgb(0, 103, 10);
}

.darkmode {
  --md-sys-color-warning: rgb(186, 133, 26);
  --md-sys-color-on-warning: rgb(255, 255, 255);
  --md-sys-color-warning-container: rgb(125, 83, 0);
  --md-sys-color-on-warning-container: rgb(255, 230, 171);

  --md-sys-color-success: rgb(26, 186, 50);
  --md-sys-color-on-success: rgb(255 255 255);
  --md-sys-color-success-container: rgb(0, 103, 77);
  --md-sys-color-on-success-container: rgb(185, 255, 182);
}

#root {
  width: 100%;
  height: 0;
  margin: 0;
  text-align: center;
  display: flex;
  font-family: "Funnel Sans", sans-serif !important;
  line-height: 1.5;
  font-size: 14px;
  font-weight: 500;
  font-style: normal;
  font-optical-sizing: auto;
  column-rule: var(--md-sys-color-text);
  position: absolute;
  left: 0;
  top: 0;
  background-color: red;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.elevated {
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1),
    0 2px 4px rgba(0, 0, 0, 0.1),
    0 4px 8px rgba(0, 0, 0, 0.1) !important;
}

@media (prefers-reduced-motion: no-preference) {}

section {
  position: relative;
  height: fit-content;
  width: 100%;
  transition: all var(--transition-expressive-slow), background-color var(--transition-expressive-color);
  border-radius: 26px;
}

section+.carousel-clip {
  width: 100%;
}

.sidebar.open~section {
  width: calc(100% - 288px);
  left: calc(240px + 32px);
}

.body-section {
  background-color: var(--md-sys-color-surface-container-lowest);
  padding: 8px 16px;
}

.preloader {
  top: 0%;
  height: 120%;
  opacity: 1;
  background: var(--md-sys-color-surface-container-lowest);
  transition: opacity 0.2s;
  position: fixed;
  inset: 0;
  z-index: 99999999;
  display: flex;
  align-items: center;
  justify-content: center;
}

.preloader .bg-container {
  top: 34%;
}

.preloader.fade-out {
  opacity: 0;
  pointer-events: none;
}

body.app {
  opacity: 1;
  pointer-events: none;
}

.preloader.fade-out body.app.fade-in {
  opacity: 1;
  transition: opacity 0.5s ease;
  pointer-events: initial;
}

.elevation-0 {
  box-shadow: none;
}

.absolute {
  position: absolute;
  z-index: 999
}

section.content-section {
  display: flex;
  flex-direction: column;
  position: relative;
  height: max-content;
  width: calc(100% - 88px);
  top: 0;
  padding: 16px 16px 16px 0;
}

input {
  color: var(--md-sys-color-on-surface);
  padding-inline: 24px;
  background-color: var(--md-sys-color-surface-container-low);
  width: 100%;
  border: 2px solid transparent;
  height: 54px;
  border-radius: 46px;
  font-size: 16px;

  &:focus {
    outline: none;
    border: 2px solid var(--md-sys-color-secondary-container);
  }

  &::placeholder {
    color: var(--md-sys-color-outline-variant);
  }

  transition: all var(--transition-expressive-color);
}

textarea {
  color: var(--md-sys-color-on-surface);
  width: 100%;
  height: 100%;
  padding: 24px;
  resize: none;
  background-color: var(--md-sys-color-surface-container-low);
  border: 2px solid transparent;
  font-size: 16px;
  border-radius: 16px;
  font-family: "Funnel Sans", sans-serif !important;

  &:focus {
    outline: none;
    border: 2px solid var(--md-sys-color-secondary-container);
  }

  transition: all var(--transition-expressive-color);
}

.wrap-4 {
  margin: 0 4%;
}

.wrap-8 {
  margin: 0 8%;
}

.wrap-16 {
  margin: 0 16%;
}

@media (max-width: 812px) {
  section.content-section {
    display: flex;
    flex-direction: column;
    position: relative;
    height: max-content;
    height: 100%;
    width: 100%;
    padding: 0px;
    margin-bottom: 92px;
  }
  .body-section{
    padding: 16px 16px 8px 16px;
    border-radius: 0;
  }
  .wrap-4,  .wrap-8, .wrap-16{
    margin: 0;
  }
}