/* Light mode */
body.theme-yellow {
    --md-sys-color-primary: rgb(118 90 11);
    --md-sys-color-surface-tint: rgb(118 90 11);
    --md-sys-color-on-primary: rgb(255 255 255);
    --md-sys-color-primary-container: rgb(255 223 153);
    --md-sys-color-on-primary-container: rgb(90 67 0);
    --md-sys-color-secondary: rgb(106 93 63);
    --md-sys-color-on-secondary: rgb(255 255 255);
    --md-sys-color-secondary-container: rgb(244 224 187);
    --md-sys-color-on-secondary-container: rgb(82 69 42);
    --md-sys-color-tertiary: rgb(73 101 72);
    --md-sys-color-on-tertiary: rgb(255 255 255);
    --md-sys-color-tertiary-container: rgb(203 235 198);
    --md-sys-color-on-tertiary-container: rgb(50 77 50);
    --md-sys-color-error: rgb(186 26 26);
    --md-sys-color-on-error: rgb(255 255 255);
    --md-sys-color-error-container: rgb(255 218 214);
    --md-sys-color-on-error-container: rgb(147 0 10);
    --md-sys-color-background: rgb(255 248 242);
    --md-sys-color-on-background: rgb(31 27 19);
    --md-sys-color-surface: rgb(255 248 242);
    --md-sys-color-on-surface: rgb(31 27 19);
    --md-sys-color-surface-variant: rgb(236 225 207);
    --md-sys-color-on-surface-variant: rgb(77 70 57);
    --md-sys-color-outline: rgb(126 118 103);
    --md-sys-color-outline-variant: rgb(208 197 180);
    --md-sys-color-shadow: rgb(0 0 0);
    --md-sys-color-scrim: rgb(0 0 0);
    --md-sys-color-inverse-surface: rgb(53 48 39);
    --md-sys-color-inverse-on-surface: rgb(249 239 226);
    --md-sys-color-inverse-primary: rgb(231 194 108);
    --md-sys-color-primary-fixed: rgb(255 223 153);
    --md-sys-color-on-primary-fixed: rgb(37 26 0);
    --md-sys-color-primary-fixed-dim: rgb(231 194 108);
    --md-sys-color-on-primary-fixed-variant: rgb(90 67 0);
    --md-sys-color-secondary-fixed: rgb(244 224 187);
    --md-sys-color-on-secondary-fixed: rgb(36 26 4);
    --md-sys-color-secondary-fixed-dim: rgb(215 197 160);
    --md-sys-color-on-secondary-fixed-variant: rgb(82 69 42);
    --md-sys-color-tertiary-fixed: rgb(203 235 198);
    --md-sys-color-on-tertiary-fixed: rgb(6 33 9);
    --md-sys-color-tertiary-fixed-dim: rgb(175 207 171);
    --md-sys-color-on-tertiary-fixed-variant: rgb(50 77 50);
    --md-sys-color-surface-dim: rgb(226 217 204);
    --md-sys-color-surface-bright: rgb(255 248 242);
    --md-sys-color-surface-container-lowest: rgb(255 255 255);
    --md-sys-color-surface-container-low: rgb(252 242 229);
    --md-sys-color-surface-container: rgb(246 237 223);
    --md-sys-color-surface-container-high: rgb(240 231 217);
    --md-sys-color-surface-container-highest: rgb(235 225 212);
}

/* Dark mode */
body.theme-yellow.darkmode {
    --md-sys-color-primary: rgb(231 194 108);
    --md-sys-color-surface-tint: rgb(231 194 108);
    --md-sys-color-on-primary: rgb(63 46 0);
    --md-sys-color-primary-container: rgb(90 67 0);
    --md-sys-color-on-primary-container: rgb(255 223 153);
    --md-sys-color-secondary: rgb(215 197 160);
    --md-sys-color-on-secondary: rgb(58 47 21);
    --md-sys-color-secondary-container: rgb(82 69 42);
    --md-sys-color-on-secondary-container: rgb(244 224 187);
    --md-sys-color-tertiary: rgb(175 207 171);
    --md-sys-color-on-tertiary: rgb(28 54 29);
    --md-sys-color-tertiary-container: rgb(50 77 50);
    --md-sys-color-on-tertiary-container: rgb(203 235 198);
    --md-sys-color-error: rgb(255 180 171);
    --md-sys-color-on-error: rgb(105 0 5);
    --md-sys-color-error-container: rgb(147 0 10);
    --md-sys-color-on-error-container: rgb(255 218 214);
    --md-sys-color-background: rgb(23 19 11);
    --md-sys-color-on-background: rgb(235 225 212);
    --md-sys-color-surface: rgb(23 19 11);
    --md-sys-color-on-surface: rgb(235 225 212);
    --md-sys-color-surface-variant: rgb(77 70 57);
    --md-sys-color-on-surface-variant: rgb(208 197 180);
    --md-sys-color-outline: rgb(153 144 128);
    --md-sys-color-outline-variant: rgb(77 70 57);
    --md-sys-color-shadow: rgb(0 0 0);
    --md-sys-color-scrim: rgb(0 0 0);
    --md-sys-color-inverse-surface: rgb(235 225 212);
    --md-sys-color-inverse-on-surface: rgb(53 48 39);
    --md-sys-color-inverse-primary: rgb(118 90 11);
    --md-sys-color-primary-fixed: rgb(255 223 153);
    --md-sys-color-on-primary-fixed: rgb(37 26 0);
    --md-sys-color-primary-fixed-dim: rgb(231 194 108);
    --md-sys-color-on-primary-fixed-variant: rgb(90 67 0);
    --md-sys-color-secondary-fixed: rgb(244 224 187);
    --md-sys-color-on-secondary-fixed: rgb(36 26 4);
    --md-sys-color-secondary-fixed-dim: rgb(215 197 160);
    --md-sys-color-on-secondary-fixed-variant: rgb(82 69 42);
    --md-sys-color-tertiary-fixed: rgb(203 235 198);
    --md-sys-color-on-tertiary-fixed: rgb(6 33 9);
    --md-sys-color-tertiary-fixed-dim: rgb(175 207 171);
    --md-sys-color-on-tertiary-fixed-variant: rgb(50 77 50);
    --md-sys-color-surface-dim: rgb(23 19 11);
    --md-sys-color-surface-bright: rgb(62 57 47);
    --md-sys-color-surface-container-lowest: rgb(17 14 7);
    --md-sys-color-surface-container-low: rgb(31 27 19);
    --md-sys-color-surface-container: rgb(35 31 23);
    --md-sys-color-surface-container-high: rgb(46 41 33);
    --md-sys-color-surface-container-highest: rgb(57 52 43);
}

/* Light mode */
body.theme-green {
    --md-sys-color-primary: rgb(36 106 75);
    --md-sys-color-surface-tint: rgb(36 106 75);
    --md-sys-color-on-primary: rgb(255 255 255);
    --md-sys-color-primary-container: rgb(170 242 202);
    --md-sys-color-on-primary-container: rgb(0 82 53);
    --md-sys-color-secondary: rgb(77 99 86);
    --md-sys-color-on-secondary: rgb(255 255 255);
    --md-sys-color-secondary-container: rgb(208 232 216);
    --md-sys-color-on-secondary-container: rgb(54 75 63);
    --md-sys-color-tertiary: rgb(60 100 114);
    --md-sys-color-on-tertiary: rgb(255 255 255);
    --md-sys-color-tertiary-container: rgb(192 233 250);
    --md-sys-color-on-tertiary-container: rgb(35 76 90);
    --md-sys-color-error: rgb(186 26 26);
    --md-sys-color-on-error: rgb(255 255 255);
    --md-sys-color-error-container: rgb(255 218 214);
    --md-sys-color-on-error-container: rgb(147 0 10);
    --md-sys-color-background: rgb(245 251 244);
    --md-sys-color-on-background: rgb(23 29 25);
    --md-sys-color-surface: rgb(245 251 244);
    --md-sys-color-on-surface: rgb(23 29 25);
    --md-sys-color-surface-variant: rgb(220 229 221);
    --md-sys-color-on-surface-variant: rgb(64 73 67);
    --md-sys-color-outline: rgb(112 121 114);
    --md-sys-color-outline-variant: rgb(192 201 193);
    --md-sys-color-shadow: rgb(0 0 0);
    --md-sys-color-scrim: rgb(0 0 0);
    --md-sys-color-inverse-surface: rgb(44 50 46);
    --md-sys-color-inverse-on-surface: rgb(237 242 236);
    --md-sys-color-inverse-primary: rgb(143 213 175);
    --md-sys-color-primary-fixed: rgb(170 242 202);
    --md-sys-color-on-primary-fixed: rgb(0 33 19);
    --md-sys-color-primary-fixed-dim: rgb(143 213 175);
    --md-sys-color-on-primary-fixed-variant: rgb(0 82 53);
    --md-sys-color-secondary-fixed: rgb(208 232 216);
    --md-sys-color-on-secondary-fixed: rgb(10 31 21);
    --md-sys-color-secondary-fixed-dim: rgb(180 204 188);
    --md-sys-color-on-secondary-fixed-variant: rgb(54 75 63);
    --md-sys-color-tertiary-fixed: rgb(192 233 250);
    --md-sys-color-on-tertiary-fixed: rgb(0 31 40);
    --md-sys-color-tertiary-fixed-dim: rgb(164 205 221);
    --md-sys-color-on-tertiary-fixed-variant: rgb(35 76 90);
    --md-sys-color-surface-dim: rgb(214 219 213);
    --md-sys-color-surface-bright: rgb(245 251 244);
    --md-sys-color-surface-container-lowest: rgb(255 255 255);
    --md-sys-color-surface-container-low: rgb(240 245 239);
    --md-sys-color-surface-container: rgb(234 239 233);
    --md-sys-color-surface-container-high: rgb(228 234 227);
    --md-sys-color-surface-container-highest: rgb(222 228 222);
}

/* Dark mode */
body.theme-green.darkmode {
    --md-sys-color-primary: rgb(143 213 175);
    --md-sys-color-surface-tint: rgb(143 213 175);
    --md-sys-color-on-primary: rgb(0 56 35);
    --md-sys-color-primary-container: rgb(0 82 53);
    --md-sys-color-on-primary-container: rgb(170 242 202);
    --md-sys-color-secondary: rgb(180 204 188);
    --md-sys-color-on-secondary: rgb(32 53 41);
    --md-sys-color-secondary-container: rgb(54 75 63);
    --md-sys-color-on-secondary-container: rgb(208 232 216);
    --md-sys-color-tertiary: rgb(164 205 221);
    --md-sys-color-on-tertiary: rgb(6 53 66);
    --md-sys-color-tertiary-container: rgb(35 76 90);
    --md-sys-color-on-tertiary-container: rgb(192 233 250);
    --md-sys-color-error: rgb(255 180 171);
    --md-sys-color-on-error: rgb(105 0 5);
    --md-sys-color-error-container: rgb(147 0 10);
    --md-sys-color-on-error-container: rgb(255 218 214);
    --md-sys-color-background: rgb(15 21 17);
    --md-sys-color-on-background: rgb(222 228 222);
    --md-sys-color-surface: rgb(15 21 17);
    --md-sys-color-on-surface: rgb(222 228 222);
    --md-sys-color-surface-variant: rgb(64 73 67);
    --md-sys-color-on-surface-variant: rgb(192 201 193);
    --md-sys-color-outline: rgb(138 147 140);
    --md-sys-color-outline-variant: rgb(64 73 67);
    --md-sys-color-shadow: rgb(0 0 0);
    --md-sys-color-scrim: rgb(0 0 0);
    --md-sys-color-inverse-surface: rgb(222 228 222);
    --md-sys-color-inverse-on-surface: rgb(44 50 46);
    --md-sys-color-inverse-primary: rgb(36 106 75);
    --md-sys-color-primary-fixed: rgb(170 242 202);
    --md-sys-color-on-primary-fixed: rgb(0 33 19);
    --md-sys-color-primary-fixed-dim: rgb(143 213 175);
    --md-sys-color-on-primary-fixed-variant: rgb(0 82 53);
    --md-sys-color-secondary-fixed: rgb(208 232 216);
    --md-sys-color-on-secondary-fixed: rgb(10 31 21);
    --md-sys-color-secondary-fixed-dim: rgb(180 204 188);
    --md-sys-color-on-secondary-fixed-variant: rgb(54 75 63);
    --md-sys-color-tertiary-fixed: rgb(192 233 250);
    --md-sys-color-on-tertiary-fixed: rgb(0 31 40);
    --md-sys-color-tertiary-fixed-dim: rgb(164 205 221);
    --md-sys-color-on-tertiary-fixed-variant: rgb(35 76 90);
    --md-sys-color-surface-dim: rgb(15 21 17);
    --md-sys-color-surface-bright: rgb(53 59 54);
    --md-sys-color-surface-container-lowest: rgb(10 15 12);
    --md-sys-color-surface-container-low: rgb(23 29 25);
    --md-sys-color-surface-container: rgb(27 33 29);
    --md-sys-color-surface-container-high: rgb(38 43 39);
    --md-sys-color-surface-container-highest: rgb(48 54 50);
}

/* Light mode */
body.theme-charcoal {
    --md-sys-color-primary: rgb(29 101 134);
    --md-sys-color-surface-tint: rgb(29 101 134);
    --md-sys-color-on-primary: rgb(255 255 255);
    --md-sys-color-primary-container: rgb(196 231 255);
    --md-sys-color-on-primary-container: rgb(0 76 105);
    --md-sys-color-secondary: rgb(78 97 109);
    --md-sys-color-on-secondary: rgb(255 255 255);
    --md-sys-color-secondary-container: rgb(209 229 244);
    --md-sys-color-on-secondary-container: rgb(55 73 85);
    --md-sys-color-tertiary: rgb(97 90 125);
    --md-sys-color-on-tertiary: rgb(255 255 255);
    --md-sys-color-tertiary-container: rgb(231 222 255);
    --md-sys-color-on-tertiary-container: rgb(73 66 100);
    --md-sys-color-error: rgb(186 26 26);
    --md-sys-color-on-error: rgb(255 255 255);
    --md-sys-color-error-container: rgb(255 218 214);
    --md-sys-color-on-error-container: rgb(147 0 10);
    --md-sys-color-background: rgb(246 250 254);
    --md-sys-color-on-background: rgb(24 28 31);
    --md-sys-color-surface: rgb(246 250 254);
    --md-sys-color-on-surface: rgb(24 28 31);
    --md-sys-color-surface-variant: rgb(221 227 234);
    --md-sys-color-on-surface-variant: rgb(65 72 77);
    --md-sys-color-outline: rgb(113 120 126);
    --md-sys-color-outline-variant: rgb(192 199 205);
    --md-sys-color-shadow: rgb(0 0 0);
    --md-sys-color-scrim: rgb(0 0 0);
    --md-sys-color-inverse-surface: rgb(44 50 54);
    --md-sys-color-inverse-on-surface: rgb(237 242 246);
    --md-sys-color-inverse-primary: rgb(144 205 237);
    --md-sys-color-primary-fixed: rgb(196 231 255);
    --md-sys-color-on-primary-fixed: rgb(0 30 44);
    --md-sys-color-primary-fixed-dim: rgb(144 205 237);
    --md-sys-color-on-primary-fixed-variant: rgb(0 76 105);
    --md-sys-color-secondary-fixed: rgb(209 229 244);
    --md-sys-color-on-secondary-fixed: rgb(18 29 37);
    --md-sys-color-secondary-fixed-dim: rgb(157 181 197);
    --md-sys-color-on-secondary-fixed-variant: rgb(55 73 85);
    --md-sys-color-tertiary-fixed: rgb(231 222 255);
    --md-sys-color-on-tertiary-fixed: rgb(32 25 59);
    --md-sys-color-tertiary-fixed-dim: rgb(180 172 221);
    --md-sys-color-on-tertiary-fixed-variant: rgb(73 66 100);
    --md-sys-color-surface-dim: rgb(226 232 237);
    --md-sys-color-surface-bright: rgb(246 250 254);
    --md-sys-color-surface-container-lowest: rgb(255 255 255);
    --md-sys-color-surface-container-low: rgb(240 245 249);
    --md-sys-color-surface-container: rgb(234 239 243);
    --md-sys-color-surface-container-high: rgb(228 234 239);
    --md-sys-color-surface-container-highest: rgb(222 228 234);
}

/* Dark mode */
body.theme-charcoal.darkmode {
    --md-sys-color-primary: rgb(144 205 237);
    --md-sys-color-surface-tint: rgb(144 205 237);
    --md-sys-color-on-primary: rgb(0 54 77);
    --md-sys-color-primary-container: rgb(0 76 105);
    --md-sys-color-on-primary-container: rgb(196 231 255);
    --md-sys-color-secondary: rgb(157 181 197);
    --md-sys-color-on-secondary: rgb(33 51 62);
    --md-sys-color-secondary-container: rgb(55 73 85);
    --md-sys-color-on-secondary-container: rgb(209 229 244);
    --md-sys-color-tertiary: rgb(180 172 221);
    --md-sys-color-on-tertiary: rgb(41 34 73);
    --md-sys-color-tertiary-container: rgb(73 66 100);
    --md-sys-color-on-tertiary-container: rgb(231 222 255);
    --md-sys-color-error: rgb(255 180 171);
    --md-sys-color-on-error: rgb(105 0 5);
    --md-sys-color-error-container: rgb(147 0 10);
    --md-sys-color-on-error-container: rgb(255 218 214);
    --md-sys-color-background: rgb(17 22 26);
    --md-sys-color-on-background: rgb(222 228 234);
    --md-sys-color-surface: rgb(17 22 26);
    --md-sys-color-on-surface: rgb(222 228 234);
    --md-sys-color-surface-variant: rgb(65 72 77);
    --md-sys-color-on-surface-variant: rgb(192 199 205);
    --md-sys-color-outline: rgb(139 146 152);
    --md-sys-color-outline-variant: rgb(65 72 77);
    --md-sys-color-shadow: rgb(0 0 0);
    --md-sys-color-scrim: rgb(0 0 0);
    --md-sys-color-inverse-surface: rgb(222 228 234);
    --md-sys-color-inverse-on-surface: rgb(44 50 54);
    --md-sys-color-inverse-primary: rgb(29 101 134);
    --md-sys-color-primary-fixed: rgb(196 231 255);
    --md-sys-color-on-primary-fixed: rgb(0 30 44);
    --md-sys-color-primary-fixed-dim: rgb(144 205 237);
    --md-sys-color-on-primary-fixed-variant: rgb(0 76 105);
    --md-sys-color-secondary-fixed: rgb(209 229 244);
    --md-sys-color-on-secondary-fixed: rgb(18 29 37);
    --md-sys-color-secondary-fixed-dim: rgb(157 181 197);
    --md-sys-color-on-secondary-fixed-variant: rgb(55 73 85);
    --md-sys-color-tertiary-fixed: rgb(231 222 255);
    --md-sys-color-on-tertiary-fixed: rgb(32 25 59);
    --md-sys-color-tertiary-fixed-dim: rgb(180 172 221);
    --md-sys-color-on-tertiary-fixed-variant: rgb(73 66 100);
    --md-sys-color-surface-dim: rgb(17 22 26);
    --md-sys-color-surface-bright: rgb(44 50 54);
    --md-sys-color-surface-container-lowest: rgb(10 15 19);
    --md-sys-color-surface-container-low: rgb(24 29 33);
    --md-sys-color-surface-container: rgb(28 33 37);
    --md-sys-color-surface-container-high: rgb(39 44 48);
    --md-sys-color-surface-container-highest: rgb(49 54 59);
}

/* Light mode */
body.theme-lavender {
    --md-sys-color-primary: rgb(101 85 143);
    --md-sys-color-surface-tint: rgb(101 85 143);
    --md-sys-color-on-primary: rgb(255 255 255);
    --md-sys-color-primary-container: rgb(233 221 255);
    --md-sys-color-on-primary-container: rgb(76 61 117);
    --md-sys-color-secondary: rgb(98 91 113);
    --md-sys-color-on-secondary: rgb(255 255 255);
    --md-sys-color-secondary-container: rgb(232 222 248);
    --md-sys-color-on-secondary-container: rgb(74 68 88);
    --md-sys-color-tertiary: rgb(126 82 96);
    --md-sys-color-on-tertiary: rgb(255 255 255);
    --md-sys-color-tertiary-container: rgb(255 217 227);
    --md-sys-color-on-tertiary-container: rgb(99 59 72);
    --md-sys-color-error: rgb(186 26 26);
    --md-sys-color-on-error: rgb(255 255 255);
    --md-sys-color-error-container: rgb(255 218 214);
    --md-sys-color-on-error-container: rgb(147 0 10);
    --md-sys-color-background: rgb(253 247 255);
    --md-sys-color-on-background: rgb(29 27 32);
    --md-sys-color-surface: rgb(253 247 255);
    --md-sys-color-on-surface: rgb(29 27 32);
    --md-sys-color-surface-variant: rgb(231 224 235);
    --md-sys-color-on-surface-variant: rgb(73 69 78);
    --md-sys-color-outline: rgb(122 117 127);
    --md-sys-color-outline-variant: rgb(202 196 207);
    --md-sys-color-shadow: rgb(0 0 0);
    --md-sys-color-scrim: rgb(0 0 0);
    --md-sys-color-inverse-surface: rgb(50 47 53);
    --md-sys-color-inverse-on-surface: rgb(245 239 247);
    --md-sys-color-inverse-primary: rgb(207 189 254);
    --md-sys-color-primary-fixed: rgb(233 221 255);
    --md-sys-color-on-primary-fixed: rgb(32 16 71);
    --md-sys-color-primary-fixed-dim: rgb(207 189 254);
    --md-sys-color-on-primary-fixed-variant: rgb(76 61 117);
    --md-sys-color-secondary-fixed: rgb(232 222 248);
    --md-sys-color-on-secondary-fixed: rgb(30 25 43);
    --md-sys-color-secondary-fixed-dim: rgb(203 194 220);
    --md-sys-color-on-secondary-fixed-variant: rgb(74 68 88);
    --md-sys-color-tertiary-fixed: rgb(255 217 227);
    --md-sys-color-on-tertiary-fixed: rgb(49 16 29);
    --md-sys-color-tertiary-fixed-dim: rgb(239 184 200);
    --md-sys-color-on-tertiary-fixed-variant: rgb(99 59 72);
    --md-sys-color-surface-dim: rgb(222 216 224);
    --md-sys-color-surface-bright: rgb(253 247 255);
    --md-sys-color-surface-container-lowest: rgb(255 255 255);
    --md-sys-color-surface-container-low: rgb(248 242 250);
    --md-sys-color-surface-container: rgb(242 236 244);
    --md-sys-color-surface-container-high: rgb(236 230 238);
    --md-sys-color-surface-container-highest: rgb(230 224 233);
  }
  
  /* Dark mode */
  body.theme-lavender.darkmode {
    --md-sys-color-primary: rgb(207 189 254);
    --md-sys-color-surface-tint: rgb(207 189 254);
    --md-sys-color-on-primary: rgb(54 39 93);
    --md-sys-color-primary-container: rgb(76 61 117);
    --md-sys-color-on-primary-container: rgb(233 221 255);
    --md-sys-color-secondary: rgb(203 194 220);
    --md-sys-color-on-secondary: rgb(51 45 65);
    --md-sys-color-secondary-container: rgb(74 68 88);
    --md-sys-color-on-secondary-container: rgb(232 222 248);
    --md-sys-color-tertiary: rgb(239 184 200);
    --md-sys-color-on-tertiary: rgb(74 37 50);
    --md-sys-color-tertiary-container: rgb(99 59 72);
    --md-sys-color-on-tertiary-container: rgb(255 217 227);
    --md-sys-color-error: rgb(255 180 171);
    --md-sys-color-on-error: rgb(105 0 5);
    --md-sys-color-error-container: rgb(147 0 10);
    --md-sys-color-on-error-container: rgb(255 218 214);
    --md-sys-color-background: rgb(20 18 24);
    --md-sys-color-on-background: rgb(230 224 233);
    --md-sys-color-surface: rgb(20 18 24);
    --md-sys-color-on-surface: rgb(230 224 233);
    --md-sys-color-surface-variant: rgb(73 69 78);
    --md-sys-color-on-surface-variant: rgb(202 196 207);
    --md-sys-color-outline: rgb(148 143 153);
    --md-sys-color-outline-variant: rgb(73 69 78);
    --md-sys-color-shadow: rgb(0 0 0);
    --md-sys-color-scrim: rgb(0 0 0);
    --md-sys-color-inverse-surface: rgb(230 224 233);
    --md-sys-color-inverse-on-surface: rgb(50 47 53);
    --md-sys-color-inverse-primary: rgb(101 85 143);
    --md-sys-color-primary-fixed: rgb(233 221 255);
    --md-sys-color-on-primary-fixed: rgb(32 16 71);
    --md-sys-color-primary-fixed-dim: rgb(207 189 254);
    --md-sys-color-on-primary-fixed-variant: rgb(76 61 117);
    --md-sys-color-secondary-fixed: rgb(232 222 248);
    --md-sys-color-on-secondary-fixed: rgb(30 25 43);
    --md-sys-color-secondary-fixed-dim: rgb(203 194 220);
    --md-sys-color-on-secondary-fixed-variant: rgb(74 68 88);
    --md-sys-color-tertiary-fixed: rgb(255 217 227);
    --md-sys-color-on-tertiary-fixed: rgb(49 16 29);
    --md-sys-color-tertiary-fixed-dim: rgb(239 184 200);
    --md-sys-color-on-tertiary-fixed-variant: rgb(99 59 72);
    --md-sys-color-surface-dim: rgb(20 18 24);
    --md-sys-color-surface-bright: rgb(59 56 62);
    --md-sys-color-surface-container-lowest: rgb(15 13 19);
    --md-sys-color-surface-container-low: rgb(29 27 32);
    --md-sys-color-surface-container: rgb(33 31 36);
    --md-sys-color-surface-container-high: rgb(43 41 47);
    --md-sys-color-surface-container-highest: rgb(54 52 58);
  }

  /* Light mode */
body.theme-red {
    --md-sys-color-primary: rgb(144 74 66);
    --md-sys-color-surface-tint: rgb(144 74 66);
    --md-sys-color-on-primary: rgb(255 255 255);
    --md-sys-color-primary-container: rgb(255 218 213);
    --md-sys-color-on-primary-container: rgb(115 52 44);
    --md-sys-color-secondary: rgb(119 86 82);
    --md-sys-color-on-secondary: rgb(255 255 255);
    --md-sys-color-secondary-container: rgb(255 218 213);
    --md-sys-color-on-secondary-container: rgb(93 63 59);
    --md-sys-color-tertiary: rgb(113 92 46);
    --md-sys-color-on-tertiary: rgb(255 255 255);
    --md-sys-color-tertiary-container: rgb(252 223 166);
    --md-sys-color-on-tertiary-container: rgb(87 68 25);
    --md-sys-color-error: rgb(186 26 26);
    --md-sys-color-on-error: rgb(255 255 255);
    --md-sys-color-error-container: rgb(255 218 214);
    --md-sys-color-on-error-container: rgb(147 0 10);
    --md-sys-color-background: rgb(255 248 247);
    --md-sys-color-on-background: rgb(35 25 24);
    --md-sys-color-surface: rgb(255 248 247);
    --md-sys-color-on-surface: rgb(35 25 24);
    --md-sys-color-surface-variant: rgb(245 221 218);
    --md-sys-color-on-surface-variant: rgb(83 67 65);
    --md-sys-color-outline: rgb(133 115 112);
    --md-sys-color-outline-variant: rgb(216 194 190);
    --md-sys-color-shadow: rgb(0 0 0);
    --md-sys-color-scrim: rgb(0 0 0);
    --md-sys-color-inverse-surface: rgb(57 46 44);
    --md-sys-color-inverse-on-surface: rgb(255 237 234);
    --md-sys-color-inverse-primary: rgb(255 180 170);
    --md-sys-color-primary-fixed: rgb(255 218 213);
    --md-sys-color-on-primary-fixed: rgb(59 9 6);
    --md-sys-color-primary-fixed-dim: rgb(255 180 170);
    --md-sys-color-on-primary-fixed-variant: rgb(115 52 44);
    --md-sys-color-secondary-fixed: rgb(255 218 213);
    --md-sys-color-on-secondary-fixed: rgb(44 21 18);
    --md-sys-color-secondary-fixed-dim: rgb(231 189 183);
    --md-sys-color-on-secondary-fixed-variant: rgb(93 63 59);
    --md-sys-color-tertiary-fixed: rgb(252 223 166);
    --md-sys-color-on-tertiary-fixed: rgb(38 26 0);
    --md-sys-color-tertiary-fixed-dim: rgb(223 195 140);
    --md-sys-color-on-tertiary-fixed-variant: rgb(87 68 25);
    --md-sys-color-surface-dim: rgb(232 214 212);
    --md-sys-color-surface-bright: rgb(255 248 247);
    --md-sys-color-surface-container-lowest: rgb(255 255 255);
    --md-sys-color-surface-container-low: rgb(255 240 238);
    --md-sys-color-surface-container: rgb(252 234 231);
    --md-sys-color-surface-container-high: rgb(247 228 225);
    --md-sys-color-surface-container-highest: rgb(241 222 220);
  }
  
  /* Dark mode */
  body.theme-red.darkmode {
    --md-sys-color-primary: rgb(255 180 170);
    --md-sys-color-surface-tint: rgb(255 180 170);
    --md-sys-color-on-primary: rgb(86 30 24);
    --md-sys-color-primary-container: rgb(115 52 44);
    --md-sys-color-on-primary-container: rgb(255 218 213);
    --md-sys-color-secondary: rgb(231 189 183);
    --md-sys-color-on-secondary: rgb(68 41 38);
    --md-sys-color-secondary-container: rgb(93 63 59);
    --md-sys-color-on-secondary-container: rgb(255 218 213);
    --md-sys-color-tertiary: rgb(223 195 140);
    --md-sys-color-on-tertiary: rgb(63 46 4);
    --md-sys-color-tertiary-container: rgb(87 68 25);
    --md-sys-color-on-tertiary-container: rgb(252 223 166);
    --md-sys-color-error: rgb(255 180 171);
    --md-sys-color-on-error: rgb(105 0 5);
    --md-sys-color-error-container: rgb(147 0 10);
    --md-sys-color-on-error-container: rgb(255 218 214);
    --md-sys-color-background: rgb(26 17 16);
    --md-sys-color-on-background: rgb(241 222 220);
    --md-sys-color-surface: rgb(26 17 16);
    --md-sys-color-on-surface: rgb(241 222 220);
    --md-sys-color-surface-variant: rgb(83 67 65);
    --md-sys-color-on-surface-variant: rgb(216 194 190);
    --md-sys-color-outline: rgb(160 140 138);
    --md-sys-color-outline-variant: rgb(83 67 65);
    --md-sys-color-shadow: rgb(0 0 0);
    --md-sys-color-scrim: rgb(0 0 0);
    --md-sys-color-inverse-surface: rgb(241 222 220);
    --md-sys-color-inverse-on-surface: rgb(57 46 44);
    --md-sys-color-inverse-primary: rgb(144 74 66);
    --md-sys-color-primary-fixed: rgb(255 218 213);
    --md-sys-color-on-primary-fixed: rgb(59 9 6);
    --md-sys-color-primary-fixed-dim: rgb(255 180 170);
    --md-sys-color-on-primary-fixed-variant: rgb(115 52 44);
    --md-sys-color-secondary-fixed: rgb(255 218 213);
    --md-sys-color-on-secondary-fixed: rgb(44 21 18);
    --md-sys-color-secondary-fixed-dim: rgb(231 189 183);
    --md-sys-color-on-secondary-fixed-variant: rgb(93 63 59);
    --md-sys-color-tertiary-fixed: rgb(252 223 166);
    --md-sys-color-on-tertiary-fixed: rgb(38 26 0);
    --md-sys-color-tertiary-fixed-dim: rgb(223 195 140);
    --md-sys-color-on-tertiary-fixed-variant: rgb(87 68 25);
    --md-sys-color-surface-dim: rgb(26 17 16);
    --md-sys-color-surface-bright: rgb(66 55 53);
    --md-sys-color-surface-container-lowest: rgb(20 12 11);
    --md-sys-color-surface-container-low: rgb(35 25 24);
    --md-sys-color-surface-container: rgb(39 29 28);
    --md-sys-color-surface-container-high: rgb(50 40 38);
    --md-sys-color-surface-container-highest: rgb(61 50 49);
  }

  /* Light mode */
body.theme-blushvelvet {
    --md-sys-color-primary: rgb(138 74 101);
    --md-sys-color-surface-tint: rgb(138 74 101);
    --md-sys-color-on-primary: rgb(255 255 255);
    --md-sys-color-primary-container: rgb(255 217 229);
    --md-sys-color-on-primary-container: rgb(110 51 77);
    --md-sys-color-secondary: rgb(115 87 97);
    --md-sys-color-on-secondary: rgb(255 255 255);
    --md-sys-color-secondary-container: rgb(255 217 229);
    --md-sys-color-on-secondary-container: rgb(90 63 73);
    --md-sys-color-tertiary: rgb(126 85 55);
    --md-sys-color-on-tertiary: rgb(255 255 255);
    --md-sys-color-tertiary-container: rgb(255 220 197);
    --md-sys-color-on-tertiary-container: rgb(99 62 34);
    --md-sys-color-error: rgb(186 26 26);
    --md-sys-color-on-error: rgb(255 255 255);
    --md-sys-color-error-container: rgb(255 218 214);
    --md-sys-color-on-error-container: rgb(147 0 10);
    --md-sys-color-background: rgb(255 248 248);
    --md-sys-color-on-background: rgb(33 25 28);
    --md-sys-color-surface: rgb(255 248 248);
    --md-sys-color-on-surface: rgb(33 25 28);
    --md-sys-color-surface-variant: rgb(241 222 227);
    --md-sys-color-on-surface-variant: rgb(81 67 72);
    --md-sys-color-outline: rgb(131 115 120);
    --md-sys-color-outline-variant: rgb(213 194 199);
    --md-sys-color-shadow: rgb(0 0 0);
    --md-sys-color-scrim: rgb(0 0 0);
    --md-sys-color-inverse-surface: rgb(55 46 49);
    --md-sys-color-inverse-on-surface: rgb(253 237 240);
    --md-sys-color-inverse-primary: rgb(255 176 206);
    --md-sys-color-primary-fixed: rgb(255 217 229);
    --md-sys-color-on-primary-fixed: rgb(57 7 33);
    --md-sys-color-primary-fixed-dim: rgb(255 176 206);
    --md-sys-color-on-primary-fixed-variant: rgb(110 51 77);
    --md-sys-color-secondary-fixed: rgb(255 217 229);
    --md-sys-color-on-secondary-fixed: rgb(42 21 30);
    --md-sys-color-secondary-fixed-dim: rgb(225 189 201);
    --md-sys-color-on-secondary-fixed-variant: rgb(90 63 73);
    --md-sys-color-tertiary-fixed: rgb(255 220 197);
    --md-sys-color-on-tertiary-fixed: rgb(48 20 0);
    --md-sys-color-tertiary-fixed-dim: rgb(241 188 151);
    --md-sys-color-on-tertiary-fixed-variant: rgb(99 62 34);
    --md-sys-color-surface-dim: rgb(230 214 218);
    --md-sys-color-surface-bright: rgb(255 248 248);
    --md-sys-color-surface-container-lowest: rgb(255 255 255);
    --md-sys-color-surface-container-low: rgb(255 240 243);
    --md-sys-color-surface-container: rgb(250 234 238);
    --md-sys-color-surface-container-high: rgb(244 228 232);
    --md-sys-color-surface-container-highest: rgb(238 223 226);
  }
  
  /* Dark mode */
  body.theme-blushvelvet.darkmode {
    --md-sys-color-primary: rgb(255 176 206);
    --md-sys-color-surface-tint: rgb(255 176 206);
    --md-sys-color-on-primary: rgb(83 29 55);
    --md-sys-color-primary-container: rgb(110 51 77);
    --md-sys-color-on-primary-container: rgb(255 217 229);
    --md-sys-color-secondary: rgb(225 189 201);
    --md-sys-color-on-secondary: rgb(65 42 51);
    --md-sys-color-secondary-container: rgb(90 63 73);
    --md-sys-color-on-secondary-container: rgb(255 217 229);
    --md-sys-color-tertiary: rgb(241 188 151);
    --md-sys-color-on-tertiary: rgb(73 40 14);
    --md-sys-color-tertiary-container: rgb(99 62 34);
    --md-sys-color-on-tertiary-container: rgb(255 220 197);
    --md-sys-color-error: rgb(255 180 171);
    --md-sys-color-on-error: rgb(105 0 5);
    --md-sys-color-error-container: rgb(147 0 10);
    --md-sys-color-on-error-container: rgb(255 218 214);
    --md-sys-color-background: rgb(25 17 20);
    --md-sys-color-on-background: rgb(238 223 226);
    --md-sys-color-surface: rgb(25 17 20);
    --md-sys-color-on-surface: rgb(238 223 226);
    --md-sys-color-surface-variant: rgb(81 67 72);
    --md-sys-color-on-surface-variant: rgb(213 194 199);
    --md-sys-color-outline: rgb(157 140 145);
    --md-sys-color-outline-variant: rgb(81 67 72);
    --md-sys-color-shadow: rgb(0 0 0);
    --md-sys-color-scrim: rgb(0 0 0);
    --md-sys-color-inverse-surface: rgb(238 223 226);
    --md-sys-color-inverse-on-surface: rgb(55 46 49);
    --md-sys-color-inverse-primary: rgb(138 74 101);
    --md-sys-color-primary-fixed: rgb(255 217 229);
    --md-sys-color-on-primary-fixed: rgb(57 7 33);
    --md-sys-color-primary-fixed-dim: rgb(255 176 206);
    --md-sys-color-on-primary-fixed-variant: rgb(110 51 77);
    --md-sys-color-secondary-fixed: rgb(255 217 229);
    --md-sys-color-on-secondary-fixed: rgb(42 21 30);
    --md-sys-color-secondary-fixed-dim: rgb(225 189 201);
    --md-sys-color-on-secondary-fixed-variant: rgb(90 63 73);
    --md-sys-color-tertiary-fixed: rgb(255 220 197);
    --md-sys-color-on-tertiary-fixed: rgb(48 20 0);
    --md-sys-color-tertiary-fixed-dim: rgb(241 188 151);
    --md-sys-color-on-tertiary-fixed-variant: rgb(99 62 34);
    --md-sys-color-surface-dim: rgb(25 17 20);
    --md-sys-color-surface-bright: rgb(64 55 58);
    --md-sys-color-surface-container-lowest: rgb(19 12 15);
    --md-sys-color-surface-container-low: rgb(33 25 28);
    --md-sys-color-surface-container: rgb(38 29 32);
    --md-sys-color-surface-container-high: rgb(48 40 42);
    --md-sys-color-surface-container-highest: rgb(60 50 53);
  }

  /* Light mode */
body.theme-chartreuse {
    --md-sys-color-primary: rgb(93 99 28);
    --md-sys-color-surface-tint: rgb(93 99 28);
    --md-sys-color-on-primary: rgb(255 255 255);
    --md-sys-color-primary-container: rgb(226 233 147);
    --md-sys-color-on-primary-container: rgb(69 75 3);
    --md-sys-color-secondary: rgb(94 96 68);
    --md-sys-color-on-secondary: rgb(255 255 255);
    --md-sys-color-secondary-container: rgb(228 229 193);
    --md-sys-color-on-secondary-container: rgb(71 73 46);
    --md-sys-color-tertiary: rgb(60 102 90);
    --md-sys-color-on-tertiary: rgb(255 255 255);
    --md-sys-color-tertiary-container: rgb(190 236 220);
    --md-sys-color-on-tertiary-container: rgb(35 78 66);
    --md-sys-color-error: rgb(186 26 26);
    --md-sys-color-on-error: rgb(255 255 255);
    --md-sys-color-error-container: rgb(255 218 214);
    --md-sys-color-on-error-container: rgb(147 0 10);
    --md-sys-color-background: rgb(252 250 236);
    --md-sys-color-on-background: rgb(28 28 20);
    --md-sys-color-surface: rgb(252 250 236);
    --md-sys-color-on-surface: rgb(28 28 20);
    --md-sys-color-surface-variant: rgb(229 227 210);
    --md-sys-color-on-surface-variant: rgb(71 72 59);
    --md-sys-color-outline: rgb(120 120 105);
    --md-sys-color-outline-variant: rgb(200 199 183);
    --md-sys-color-shadow: rgb(0 0 0);
    --md-sys-color-scrim: rgb(0 0 0);
    --md-sys-color-inverse-surface: rgb(49 49 40);
    --md-sys-color-inverse-on-surface: rgb(243 241 228);
    --md-sys-color-inverse-primary: rgb(197 204 122);
    --md-sys-color-primary-fixed: rgb(226 233 147);
    --md-sys-color-on-primary-fixed: rgb(27 29 0);
    --md-sys-color-primary-fixed-dim: rgb(197 204 122);
    --md-sys-color-on-primary-fixed-variant: rgb(69 75 3);
    --md-sys-color-secondary-fixed: rgb(228 229 193);
    --md-sys-color-on-secondary-fixed: rgb(27 29 7);
    --md-sys-color-secondary-fixed-dim: rgb(200 201 166);
    --md-sys-color-on-secondary-fixed-variant: rgb(71 73 46);
    --md-sys-color-tertiary-fixed: rgb(190 236 220);
    --md-sys-color-on-tertiary-fixed: rgb(0 32 25);
    --md-sys-color-tertiary-fixed-dim: rgb(163 208 192);
    --md-sys-color-on-tertiary-fixed-variant: rgb(35 78 66);
    --md-sys-color-surface-dim: rgb(220 218 206);
    --md-sys-color-surface-bright: rgb(252 250 236);
    --md-sys-color-surface-container-lowest: rgb(255 255 255);
    --md-sys-color-surface-container-low: rgb(246 244 231);
    --md-sys-color-surface-container: rgb(240 238 225);
    --md-sys-color-surface-container-high: rgb(235 232 219);
    --md-sys-color-surface-container-highest: rgb(229 227 214);
  }
  
  /* Dark mode */
  body.theme-chartreuse.darkmode {
    --md-sys-color-primary: rgb(197 204 122);
    --md-sys-color-surface-tint: rgb(197 204 122);
    --md-sys-color-on-primary: rgb(47 51 0);
    --md-sys-color-primary-container: rgb(69 75 3);
    --md-sys-color-on-primary-container: rgb(226 233 147);
    --md-sys-color-secondary: rgb(200 201 166);
    --md-sys-color-on-secondary: rgb(48 50 26);
    --md-sys-color-secondary-container: rgb(71 73 46);
    --md-sys-color-on-secondary-container: rgb(228 229 193);
    --md-sys-color-tertiary: rgb(163 208 192);
    --md-sys-color-on-tertiary: rgb(7 55 44);
    --md-sys-color-tertiary-container: rgb(35 78 66);
    --md-sys-color-on-tertiary-container: rgb(190 236 220);
    --md-sys-color-error: rgb(255 180 171);
    --md-sys-color-on-error: rgb(105 0 5);
    --md-sys-color-error-container: rgb(147 0 10);
    --md-sys-color-on-error-container: rgb(255 218 214);
    --md-sys-color-background: rgb(19 20 12);
    --md-sys-color-on-background: rgb(229 227 214);
    --md-sys-color-surface: rgb(19 20 12);
    --md-sys-color-on-surface: rgb(229 227 214);
    --md-sys-color-surface-variant: rgb(71 72 59);
    --md-sys-color-on-surface-variant: rgb(200 199 183);
    --md-sys-color-outline: rgb(146 145 130);
    --md-sys-color-outline-variant: rgb(71 72 59);
    --md-sys-color-shadow: rgb(0 0 0);
    --md-sys-color-scrim: rgb(0 0 0);
    --md-sys-color-inverse-surface: rgb(229 227 214);
    --md-sys-color-inverse-on-surface: rgb(49 49 40);
    --md-sys-color-inverse-primary: rgb(93 99 28);
    --md-sys-color-primary-fixed: rgb(226 233 147);
    --md-sys-color-on-primary-fixed: rgb(27 29 0);
    --md-sys-color-primary-fixed-dim: rgb(197 204 122);
    --md-sys-color-on-primary-fixed-variant: rgb(69 75 3);
    --md-sys-color-secondary-fixed: rgb(228 229 193);
    --md-sys-color-on-secondary-fixed: rgb(27 29 7);
    --md-sys-color-secondary-fixed-dim: rgb(200 201 166);
    --md-sys-color-on-secondary-fixed-variant: rgb(71 73 46);
    --md-sys-color-tertiary-fixed: rgb(190 236 220);
    --md-sys-color-on-tertiary-fixed: rgb(0 32 25);
    --md-sys-color-tertiary-fixed-dim: rgb(163 208 192);
    --md-sys-color-on-tertiary-fixed-variant: rgb(35 78 66);
    --md-sys-color-surface-dim: rgb(19 20 12);
    --md-sys-color-surface-bright: rgb(58 58 49);
    --md-sys-color-surface-container-lowest: rgb(14 15 8);
    --md-sys-color-surface-container-low: rgb(28 28 20);
    --md-sys-color-surface-container: rgb(32 32 24);
    --md-sys-color-surface-container-high: rgb(42 42 34);
    --md-sys-color-surface-container-highest: rgb(53 53 44);
  }